@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family:'Montserrat';
}
header{
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}


body{
  background-color: rgb(46, 46, 46);
  width: 99.22%;
}
hr{
border-top: 1px solid white;
}

.navbar-collapse{
  margin-left: 35%;
}
.navbar-brand{
  margin-left: 3%;
}
.buttons{
  display: flex;
  justify-content: center;
}

.table{
  color:white;
}

.topicinfo  {
  text-align:right;
}
.foruminfo{
  color:white;
  margin-top:12%;
}
.userinfo dt{
  font-size: 12px;
}
.loginform{
  color:white;
}
.post-details{
  color:rgb(255, 255, 255);
}
.post-details p{
  color:rgb(200, 200, 200);
}
.container-fluid {
    overflow: hidden;
    margin-top: 250px;
    background: #262626;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 0
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}
.card{
  background-color:rgb(46, 46, 46) !important;
}
